<h1>Thank you for enhancing our site</h1>
<p>You added the following tip:
Name: <%= @tip.name %><br>
Location: <%= @tip.location %><br>
Tip: <%= @tip.tip %><br><br>
Your tip will post immediatley, and should be visible in the tips page.
<a href = "/tips"> Click Here </a>to go see it in action.</p>
